workflows/Add Pitchfork "Best New Songs" to Generated Pitchfork Playlist 🎵.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Search by Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Title": {
      "main": [
        [
          {
            "node": "Add songs to Generated Pitchfork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send error email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-09T15:47:00.298Z",
  "id": "15",
  "name": "Add Pitchfork \"Best New Songs\" to Generated Pitchfork Playlist 🎵",
  "nodes": [
    {
      "parameters": {},
      "id": "42724783-c1d5-488f-a8d7-cdb25e699afa",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://pitchfork.com/rss/reviews/best/tracks/"
      },
      "id": "3e67b1ca-8844-470d-a553-f6b176a1351b",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        740,
        460
      ]
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.title }}",
        "limit": 1,
        "filters": {
          "market": "US"
        }
      },
      "id": "abb9730a-55a6-4dd7-8563-16493f2f4bc3",
      "name": "Search by Title",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        980,
        460
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "8",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "spotify:playlist:2JylpFYrkKPDW7l1nzw4Sy",
        "trackID": "=spotify:track:{{ $json.id }}",
        "additionalFields": {}
      },
      "id": "da21bba7-063a-4222-9262-9fccb80e6ee4",
      "name": "Add songs to Generated Pitchfork",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1220,
        460
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "8",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        520,
        260
      ],
      "typeVersion": 1,
      "id": "30f76bf4-33a1-4f82-bedd-c0914a6ba193"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=n8n Workflow Failure:  {{$json[\"workflow\"][\"name\"]}}",
        "message": "=Workflow: {{$json[\"workflow\"][\"name\"]}}\nError: {{$json[\"execution\"][\"error\"][\"message\"]}}\nLast node executed: {{$json[\"execution\"][\"lastNodeExecuted\"]}}\nExecution URL: {{$json[\"execution\"][\"url\"]}}\nStacktrace:\n{{$json[\"execution\"][\"error\"][\"stack\"]}}",
        "toList": [
          "n8n.prong493@silomails.com"
        ],
        "additionalFields": {
          "senderName": "n8n <hemingway72129@gmail.com>"
        }
      },
      "name": "Send error email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        780,
        260
      ],
      "typeVersion": 1,
      "id": "61cae8f1-c17d-40d1-a421-b22f3675158a",
      "credentials": {
        "gmailOAuth2": {
          "id": "6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-09T15:33:40.065Z",
      "updatedAt": "2023-04-09T15:33:40.065Z",
      "id": "1",
      "name": "Spotify"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-24T23:40:41.000Z",
  "versionId": "35748b34-2e97-49ca-8ae9-314260be1799"
}