workflows/Add session time tracked to Notion.json
{
  "active": true,
  "connections": {
    "Remove Project from Summary": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Session events": {
      "main": [
        [
          {
            "node": "Remove Project from Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy session events to my own calendar": {
      "main": [
        [
          {
            "node": "Notion (Beta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (Beta)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Session events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Copy session events to my own calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Notion (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send error email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-17T01:50:34.740Z",
  "id": "21",
  "name": "Add session time tracked to Notion",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json.summary = $input.item.json.summary.split(':')[1].trim();\n\nreturn $input.item;"
      },
      "id": "c3c0753c-62d9-4367-a2a7-0a5fabb9c478",
      "name": "Remove Project from Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hk6htrtktofghv0jimp1l40adj0khrth@import.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Session: focus"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$today.minus({days: 1})}}"
        }
      },
      "id": "f62cb709-af0d-405a-bc0f-02a136f101ab",
      "name": "Get Session events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        480,
        460
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hemingway72129@gmail.com",
          "mode": "list",
          "cachedResultName": "hemingway72129@gmail.com"
        },
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "cc91f171-5bb3-4b2e-81c6-371c04f0d8cb",
      "name": "Copy session events to my own calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1240,
        380
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "version": 1,
        "operation": "search",
        "text": "={{ $json.summary }}",
        "limit": 2,
        "options": {
          "filter": {
            "filters": {
              "value": "page"
            }
          }
        }
      },
      "id": "9a56e375-791f-4bc2-8317-c47c04ecb67c",
      "name": "Notion (Beta)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the\n// JSON of the item\n\nvar diff = Math.abs(new Date($input.item.json.start.dateTime) - new Date($input.item.json.end.dateTime));\nvar minutes = Math.floor((diff/1000)/60);\n\n$input.item.json.time = minutes;\n\nreturn $input.item;"
      },
      "id": "28e2fe5b-74a1-4469-b686-08e20d6648b5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1500,
        460
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url",
          "__regex": "(?:https|http)://www.notion.so/(?:[a-z0-9-]{2,}/)?(?:[a-zA-Z0-9-]{2,}-)?([0-9a-f]{8}[0-9a-f]{4}4[0-9a-f]{3}[89ab][0-9a-f]{3}[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Time Spent (mins)|number",
              "numberValue": "={{ $json.property_time_spent_mins ? $json.property_time_spent_mins : 0 + $json.sum_time }}"
            }
          ]
        }
      },
      "id": "dc4f30f4-3365-468e-8ffe-ab31f3f2930e",
      "name": "Notion (Beta)1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2440,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hemingway72129@gmail.com",
          "mode": "list",
          "cachedResultName": "hemingway72129@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$today.minus({days: 1})}}"
        }
      },
      "id": "24066711-94aa-4e92-a981-8937883e7767",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "summary",
              "field2": "summary"
            }
          ]
        },
        "options": {}
      },
      "id": "4d5c5a22-d9b2-4231-aa67-19c1cb004354",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "9c4130da-e5c4-4985-be04-a9d07a9342bb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        160,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.property_project }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f010e5ac-e916-420f-b849-8c022da9cec9",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1720,
        200
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "time"
            }
          ]
        },
        "fieldsToSplitBy": "summary",
        "options": {}
      },
      "id": "1a1da123-07d5-4774-bcf6-ef4a3a0c0927",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1760,
        460
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "65ea205e-a268-42a1-8e76-3660a6c12a54",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1940,
        200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "summary"
            }
          ]
        },
        "options": {}
      },
      "id": "a5db3090-5190-4f0a-84f1-5c26745cb95e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2160,
        340
      ]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        1480,
        720
      ],
      "typeVersion": 1,
      "id": "4fcea43b-927b-4ccf-a58e-3ab83107268c"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=n8n Workflow Failure:  {{$json[\"workflow\"][\"name\"]}}",
        "message": "=Workflow: {{$json[\"workflow\"][\"name\"]}}\nError: {{$json[\"execution\"][\"error\"][\"message\"]}}\nLast node executed: {{$json[\"execution\"][\"lastNodeExecuted\"]}}\nExecution URL: {{$json[\"execution\"][\"url\"]}}\nStacktrace:\n{{$json[\"execution\"][\"error\"][\"stack\"]}}",
        "toList": [
          "n8n.prong493@silomails.com"
        ],
        "additionalFields": {}
      },
      "name": "Send error email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1740,
        720
      ],
      "typeVersion": 1,
      "id": "7747439c-b308-4fca-9c64-64ec5a78bc9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T16:17:15.682Z",
      "updatedAt": "2023-04-09T16:17:15.682Z",
      "id": "4",
      "name": "Calendar"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-04-23T05:44:48.000Z",
  "versionId": "6d074c45-bb8d-4bcb-bd44-cfe98d9f9b13"
}