workflows/Brain Supabase to Notion 🪣 📄.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Notion (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-08T03:30:24.425Z",
  "id": "12",
  "name": "Brain Supabase to Notion 🪣 📄",
  "nodes": [
    {
      "parameters": {},
      "id": "e44f066e-1d6d-4b1f-ae6b-84c1be707bf5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        460
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Task|title",
              "title": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "a85baca8-caa4-4f59-9c22-809224db83dc",
      "name": "Update Notion database page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Brain Backlog",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "restore",
              "condition": "eq",
              "keyValue": "TRUE"
            }
          ]
        }
      },
      "id": "7b3fef66-2cb0-44dc-8459-cc2c00c5c701",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "={{ $json.content.type }}",
              "textContent": "={{ $json.content ? $json.content[$json.content.type].text[0].text.content : \"\" }}"
            }
          ]
        }
      },
      "id": "4b701d40-4e1b-4289-9925-88500914013e",
      "name": "Notion (Beta)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        980,
        620
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "={{ $json.content[0].type }}"
            }
          ]
        },
        "options": {
          "destinationFieldName": ""
        }
      },
      "id": "42380907-7e51-4560-8c86-9e852c1cc64f",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        660,
        620
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T15:35:19.638Z",
      "updatedAt": "2023-04-09T15:35:19.638Z",
      "id": "3",
      "name": "Supabase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-09T15:37:57.000Z",
  "versionId": "bcce6782-742a-44ac-8324-f8575db063a9"
}