workflows/Notion Brain Backlog to Supabase Brain Table 📄 🪣.json
{
  "active": true,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Get Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page": {
      "main": [
        [
          {
            "node": "Create Supabase Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain Item Updated": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-07T17:19:57.030Z",
  "id": "9",
  "name": "Notion Brain Backlog to Supabase Brain Table 📄 🪣",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object }}",
              "operation": "contains",
              "value2": "page"
            }
          ]
        }
      },
      "id": "5af7c1da-428e-4464-bd64-9679555c2cdd",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        }
      },
      "id": "beea855d-9a13-4695-917b-32ec62a43b1a",
      "name": "Get Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1140,
        220
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "4725faa1-5821-4bc0-abcf-1dab16fa3ec4",
          "mode": "list",
          "cachedResultName": "Brain Backlog",
          "cachedResultUrl": "https://www.notion.so/4725faa158214bc0abcf1dab16fa3ec4"
        },
        "simple": false
      },
      "id": "1d5bf0c8-d259-4028-b7e6-24c150b5925d",
      "name": "Brain Item Updated",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        360,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Brain Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "property_age",
              "fieldValue": "={{ $json.property_age }}"
            },
            {
              "fieldId": "property_sub_tasks",
              "fieldValue": "={{ $json.property_sub_tasks }}"
            },
            {
              "fieldId": "property_parent_tasks",
              "fieldValue": "={{ $json.property_parent_tasks }}"
            },
            {
              "fieldId": "property_energy",
              "fieldValue": "={{ $json.property_energy }}"
            },
            {
              "fieldId": "property_project",
              "fieldValue": "={{ $json.property_project }}"
            },
            {
              "fieldId": "property_linked_tasks",
              "fieldValue": "={{ $json.property_linked_tasks }}"
            },
            {
              "fieldId": "property_parent_epic",
              "fieldValue": "={{ $json.property_parent_epic }}"
            },
            {
              "fieldId": "property_last_edited_time",
              "fieldValue": "={{ $json.property_last_edited_time }}"
            },
            {
              "fieldId": "property_clarity",
              "fieldValue": "={{ $json.property_clarity }}"
            },
            {
              "fieldId": "property_epic",
              "fieldValue": "={{ $json.property_epic }}"
            },
            {
              "fieldId": "property_epic",
              "fieldValue": "={{ $json.property_epic }}"
            },
            {
              "fieldId": "property_status",
              "fieldValue": "={{ $json.property_status }}"
            },
            {
              "fieldId": "property_days",
              "fieldValue": "={{ $json.property_days }}"
            },
            {
              "fieldId": "property_created_on",
              "fieldValue": "={{ $json.property_created_on }}"
            },
            {
              "fieldId": "property_level_of_impact",
              "fieldValue": "={{ $json.property_level_of_impact }}"
            },
            {
              "fieldId": "property_bento",
              "fieldValue": "={{ $json.property_bento }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.property_task }}"
            },
            {
              "fieldId": "property_time_complexity",
              "fieldValue": "={{ $json.property_time_complexity }}"
            },
            {
              "fieldId": "property_person",
              "fieldValue": "={{ $json.property_person }}"
            }
          ]
        }
      },
      "id": "b63c27d8-4257-46b7-bb0a-7b25fafc3e45",
      "name": "Create Supabase Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1780,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Notion Trigger (Beta)": {
      "lastTimeChecked": "2023-04-07T02:56:00.000Z",
      "possibleDuplicates": [
        "da226364-91c0-42a4-9dfc-cef68247a978"
      ]
    },
    "node:Event Updated": {
      "lastTimeChecked": "2023-04-07T17:16:00.000Z",
      "possibleDuplicates": [
        "96a92ffa-36cd-4174-9618-da192541d56f"
      ]
    },
    "node:Brain Item Updated": {
      "lastTimeChecked": "2023-04-21T14:00:00.000Z",
      "possibleDuplicates": [
        "7618e871-ae49-4cf7-adfd-47daf792efce"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T15:35:19.638Z",
      "updatedAt": "2023-04-09T15:35:19.638Z",
      "id": "3",
      "name": "Supabase"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-04-21T14:00:14.000Z",
  "versionId": "c2b55348-f3e4-48be-b711-1e19802470d0"
}