workflows/Notion Events Backlog to Supabase Events Table 📅 🪣.json
{
  "active": true,
  "connections": {
    "Event Updated": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Row in Event Backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page": {
      "main": [
        [
          {
            "node": "Create Event Backlog Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-07T01:04:58.332Z",
  "id": "7",
  "name": "Notion Events Backlog to Supabase Events Table 📅 🪣",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        },
        "simple": false
      },
      "id": "22799e8f-ddc5-435a-b52a-db587efbadcc",
      "name": "Event Updated",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        420,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object }}",
              "operation": "contains",
              "value2": "page"
            }
          ]
        }
      },
      "id": "5b320870-9af6-461a-a856-c7528a8e1c59",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        }
      },
      "id": "943f2305-cfcc-4057-9c7c-9612d938d46e",
      "name": "Get Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        940,
        260
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Events Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.Task }}"
            },
            {
              "fieldId": "property_edited",
              "fieldValue": "={{ $json.Edited }}"
            },
            {
              "fieldId": "property_priority",
              "fieldValue": "={{ $json.Edited }}"
            },
            {
              "fieldId": "property_days_only_if_set_to_1_day_s",
              "fieldValue": "={{ $json[\"Days (Only if Set to 1 Day(s))\"] }}"
            },
            {
              "fieldId": "property_created",
              "fieldValue": "={{ $json.Created }}"
            },
            {
              "fieldId": "property_state",
              "fieldValue": "={{ $json.State }}"
            },
            {
              "fieldId": "property_last_day_base_date",
              "fieldValue": "={{ $json[\"Last Day Base Date\"] }}"
            },
            {
              "fieldId": "property_created_by",
              "fieldValue": "={{ $json[\"Created By\"] }}"
            },
            {
              "fieldId": "property_due_timestamp",
              "fieldValue": "={{ $json[\"Due Timestamp\"] }}"
            },
            {
              "fieldId": "property_first_weekday_base_date",
              "fieldValue": "={{ $json[\"First Weekday Base Date\"] }}"
            },
            {
              "fieldId": "property_simplified_recur_unit",
              "fieldValue": "={{ $json[\"Simplified Recur Unit\"] }}"
            },
            {
              "fieldId": "property_next_due",
              "fieldValue": "={{ $json[\"Next Due\"] }}"
            },
            {
              "fieldId": "property_done",
              "fieldValue": "={{ $json.Done }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.Type }}"
            },
            {
              "fieldId": "property_due_date",
              "fieldValue": "={{ $json[\"Due Date\"] }}"
            },
            {
              "fieldId": "property_synced",
              "fieldValue": "={{ $json[\"Synced to Calendar\"] }}"
            },
            {
              "fieldId": "property_recur_interval",
              "fieldValue": "={{ $json[\"Recur Interval\"] }}"
            },
            {
              "fieldId": "property_utc_offset",
              "fieldValue": "={{ $json[\"UTC Offset\"] }}"
            },
            {
              "fieldId": "property_recur_unit",
              "fieldValue": "={{ $json[\"Recur Unit\"] }}"
            },
            {
              "fieldId": "property_last_weekday_base_date",
              "fieldValue": "={{ $json[\"Last Weekday Base Date\"] }}"
            },
            {
              "fieldId": "property_next_last_base_date",
              "fieldValue": "={{ $json[\"Next Last Base Date\"] }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.Task }}"
            }
          ]
        }
      },
      "id": "20d9ce2a-14c0-419a-9aae-d140fdff6ec3",
      "name": "Create Row in Event Backlog",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        940,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Events Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "= {{ $json.property_task }}"
            },
            {
              "fieldId": "property_edited",
              "fieldValue": "= {{ $json.property_edited }}"
            },
            {
              "fieldId": "property_priority",
              "fieldValue": "={{ $json.property_priority }}"
            },
            {
              "fieldId": "property_days_only_if_set_to_1_day_s",
              "fieldValue": "={{ $json.property_days_only_if_set_to_1_day_s }}"
            },
            {
              "fieldId": "property_created",
              "fieldValue": "={{ $json.property_created }}"
            },
            {
              "fieldId": "property_state",
              "fieldValue": "={{ $json.property_state }}"
            },
            {
              "fieldId": "property_last_day_base_date",
              "fieldValue": "={{ $json.property_last_day_base_date }}"
            },
            {
              "fieldId": "property_created_by",
              "fieldValue": "={{ $json.property_created_by }}"
            },
            {
              "fieldId": "property_due_timestamp",
              "fieldValue": "={{ $json.property_due_timestamp }}"
            },
            {
              "fieldId": "property_first_weekday_base_date",
              "fieldValue": "={{ $json.property_first_weekday_base_date }}"
            },
            {
              "fieldId": "property_simplified_recur_unit",
              "fieldValue": "={{ $json.property_simplified_recur_unit }}"
            },
            {
              "fieldId": "property_next_due",
              "fieldValue": "={{ $json.property_next_due }}"
            },
            {
              "fieldId": "property_done",
              "fieldValue": "={{ $json.property_done }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.property_type }}"
            },
            {
              "fieldId": "property_due_date",
              "fieldValue": "={{ $json.property_due_date }}"
            },
            {
              "fieldId": "property_synced",
              "fieldValue": "={{ $json.property_synced_to_calendar }}"
            },
            {
              "fieldId": "property_recur_interval",
              "fieldValue": "={{ $json.property_recur_interval }}"
            },
            {
              "fieldId": "property_utc_offset",
              "fieldValue": "={{ $json.property_utc_offset }}"
            },
            {
              "fieldId": "property_recur_unit",
              "fieldValue": "={{ $json.property_recur_unit }}"
            },
            {
              "fieldId": "property_last_weekday_base_date",
              "fieldValue": "={{ $json.property_last_weekday_base_date }}"
            },
            {
              "fieldId": "property_next_last_base_date",
              "fieldValue": "={{ $json.property_next_last_base_date }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.property_task }}"
            }
          ]
        }
      },
      "id": "f9be4cde-76f8-4f36-b55d-87ec8befb6f1",
      "name": "Create Event Backlog Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1260,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Notion Trigger (Beta)": {
      "lastTimeChecked": "2023-04-07T02:56:00.000Z",
      "possibleDuplicates": [
        "da226364-91c0-42a4-9dfc-cef68247a978"
      ]
    },
    "node:Event Updated": {
      "lastTimeChecked": "2023-04-21T13:29:00.000Z",
      "possibleDuplicates": [
        "62e56125-d0a4-419e-8573-10d4967ec3a5"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T15:35:19.638Z",
      "updatedAt": "2023-04-09T15:35:19.638Z",
      "id": "3",
      "name": "Supabase"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-04-21T13:29:18.000Z",
  "versionId": "fe5303b8-7956-40a9-9f10-acac41d7c7fe"
}