workflows/Notion to Supabase.json
{
  "active": true,
  "connections": {
    "Get Notion Events": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Supabase Row": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Create Supabase Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Supabase Row1": {
      "main": [
        [
          {
            "node": "Update version and date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Updated": {
      "main": [
        [
          {
            "node": "Create Supabase Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-07T01:04:58.332Z",
  "id": "7",
  "name": "Notion to Supabase",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $node[\"Event Updated\"].json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Version|number",
              "numberValue": "={{ ($node[\"Event Updated\"].json.Version || 0) + 1 }}"
            },
            {
              "key": "Version Date|date",
              "includeTime": false,
              "date": "={{ $today }}"
            }
          ]
        }
      },
      "id": "83c6e7dd-8466-49d4-a8d3-e7f4f81f38e5",
      "name": "Update version and date",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1320,
        460
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        },
        "limit": 5,
        "filterType": "manual",
        "options": {}
      },
      "id": "ddf4a4a4-72ef-44bb-98b1-0ace6bb24266",
      "name": "Get Notion Events",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        320,
        700
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Events Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "property_edited",
              "fieldValue": "={{ $json.property_edited }}"
            },
            {
              "fieldId": "property_priority",
              "fieldValue": "={{ $json.property_priority }}"
            },
            {
              "fieldId": "property_days_only_if_set_to_1_day_s",
              "fieldValue": "={{ $json.property_days_only_if_set_to_1_day_s }}"
            },
            {
              "fieldId": "property_created",
              "fieldValue": "={{ $json.property_created }}"
            },
            {
              "fieldId": "property_state",
              "fieldValue": "={{ $json.property_state }}"
            },
            {
              "fieldId": "property_last_day_base_date",
              "fieldValue": "={{ $json.property_last_day_base_date }}"
            },
            {
              "fieldId": "property_created_by",
              "fieldValue": "={{ $json.property_created_by }}"
            },
            {
              "fieldId": "property_due_timestamp",
              "fieldValue": "={{ $json.property_due_timestamp }}"
            },
            {
              "fieldId": "property_first_weekday_base_date",
              "fieldValue": "={{ $json.property_first_weekday_base_date }}"
            },
            {
              "fieldId": "property_simplified_recur_unit",
              "fieldValue": "={{ $json.property_simplified_recur_unit }}"
            },
            {
              "fieldId": "property_next_due",
              "fieldValue": "={{ $json.property_next_due }}"
            },
            {
              "fieldId": "property_done",
              "fieldValue": "={{ $json.property_done }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.property_type }}"
            },
            {
              "fieldId": "property_due_date",
              "fieldValue": "={{ $json.property_due_date }}"
            },
            {
              "fieldId": "property_synced",
              "fieldValue": "={{ $json.property_synced }}"
            },
            {
              "fieldId": "property_recur_interval",
              "fieldValue": "={{ $json.property_recur_interval }}"
            },
            {
              "fieldId": "property_utc_offset",
              "fieldValue": "={{ $json.property_utc_offset }}"
            },
            {
              "fieldId": "property_recur_unit",
              "fieldValue": "={{ $json.property_recur_unit }}"
            },
            {
              "fieldId": "property_last_weekday_base_date",
              "fieldValue": "={{ $json.property_last_weekday_base_date }}"
            },
            {
              "fieldId": "property_next_last_base_date",
              "fieldValue": "={{ $json.property_next_last_base_date }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.property_task }}"
            }
          ]
        }
      },
      "id": "095864e9-4c14-42ff-8a67-f8876e108da5",
      "name": "Create Supabase Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        700
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.property_edited }}",
              "value2": "={{ $today }}"
            }
          ]
        }
      },
      "id": "df80379a-87aa-4583-a31c-07919e6f776e",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        620,
        700
      ]
    },
    {
      "parameters": {
        "tableId": "Events Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.Task }}"
            },
            {
              "fieldId": "property_edited",
              "fieldValue": "={{ $json.Edited }}"
            },
            {
              "fieldId": "property_priority",
              "fieldValue": "={{ $json.Edited }}"
            },
            {
              "fieldId": "property_days_only_if_set_to_1_day_s",
              "fieldValue": "={{ $json[\"Days (Only if Set to 1 Day(s))\"] }}"
            },
            {
              "fieldId": "property_created",
              "fieldValue": "={{ $json.Created }}"
            },
            {
              "fieldId": "property_state",
              "fieldValue": "={{ $json.State }}"
            },
            {
              "fieldId": "property_last_day_base_date",
              "fieldValue": "={{ $json[\"Last Day Base Date\"] }}"
            },
            {
              "fieldId": "property_created_by",
              "fieldValue": "={{ $json[\"Created By\"] }}"
            },
            {
              "fieldId": "property_due_timestamp",
              "fieldValue": "={{ $json[\"Due Timestamp\"] }}"
            },
            {
              "fieldId": "property_first_weekday_base_date",
              "fieldValue": "={{ $json[\"First Weekday Base Date\"] }}"
            },
            {
              "fieldId": "property_simplified_recur_unit",
              "fieldValue": "={{ $json[\"Simplified Recur Unit\"] }}"
            },
            {
              "fieldId": "property_next_due",
              "fieldValue": "={{ $json[\"Next Due\"] }}"
            },
            {
              "fieldId": "property_done",
              "fieldValue": "={{ $json.Done }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.Type }}"
            },
            {
              "fieldId": "property_due_date",
              "fieldValue": "={{ $json[\"Due Date\"] }}"
            },
            {
              "fieldId": "property_synced",
              "fieldValue": "={{ $json[\"Synced to Calendar\"] }}"
            },
            {
              "fieldId": "property_recur_interval",
              "fieldValue": "={{ $json[\"Recur Interval\"] }}"
            },
            {
              "fieldId": "property_utc_offset",
              "fieldValue": "={{ $json[\"UTC Offset\"] }}"
            },
            {
              "fieldId": "property_recur_unit",
              "fieldValue": "={{ $json[\"Recur Unit\"] }}"
            },
            {
              "fieldId": "property_last_weekday_base_date",
              "fieldValue": "={{ $json[\"Last Weekday Base Date\"] }}"
            },
            {
              "fieldId": "property_next_last_base_date",
              "fieldValue": "={{ $json[\"Next Last Base Date\"] }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.Task }}"
            }
          ]
        }
      },
      "id": "20d9ce2a-14c0-419a-9aae-d140fdff6ec3",
      "name": "Create Supabase Row1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        }
      },
      "id": "22799e8f-ddc5-435a-b52a-db587efbadcc",
      "name": "Event Updated",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        620,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Notion Trigger (Beta)": {
      "lastTimeChecked": "2023-04-07T02:56:00.000Z",
      "possibleDuplicates": [
        "da226364-91c0-42a4-9dfc-cef68247a978"
      ]
    },
    "node:Event Updated": {
      "lastTimeChecked": "2023-04-07T03:59:00.000Z",
      "possibleDuplicates": [
        "ffd7216a-79c1-44d5-9d63-10e017e4e48e",
        "da226364-91c0-42a4-9dfc-cef68247a978",
        "6458990a-b1dc-4969-9e95-4bf89783c641"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-04-07T03:59:57.000Z",
  "versionId": "970c36dd-241b-4ac7-a39c-8895a1bc6b2b"
}