workflows/Restore a Supabase Events Item to Notion Events 🪣 📄.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Restore Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Event": {
      "main": [
        [
          {
            "node": "Update Notion database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-07T15:57:40.692Z",
  "id": "8",
  "name": "Restore a Supabase Events Item to Notion Events 🪣 📄",
  "nodes": [
    {
      "parameters": {},
      "id": "61bfb476-fbd6-431a-9436-f809bf582886",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        460
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Task|title",
              "title": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "1d713fd8-0baf-431b-8100-0c96e6a71d7e",
      "name": "Update Notion database page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        700,
        460
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Events Backlog",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "restore",
              "condition": "eq",
              "keyValue": "TRUE"
            }
          ]
        }
      },
      "id": "9e2136fc-1eda-4c80-9138-32a5d3801dc3",
      "name": "Restore Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T15:35:19.638Z",
      "updatedAt": "2023-04-09T15:35:19.638Z",
      "id": "3",
      "name": "Supabase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-09T16:18:51.000Z",
  "versionId": "4ffa57da-ba45-4fa8-a627-1c8d9329e5f0"
}