workflows/Scan Youtube channels, then add it to a library in Notion.json
{
  "active": true,
  "connections": {
    "Get all current YouTube backlog items": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Notion (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videos for channelIds from the last week": {
      "main": [
        [
          {
            "node": "Remove shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove shorts": {
      "main": [
        [
          {
            "node": "Convert unicode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert unicode": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get videos for channelIds from the last week",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get videos for channelIds from the last week",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-15T17:14:23.040Z",
  "id": "19",
  "name": "Scan Youtube channels, then add it to a library in Notion",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "0a4191a5-eb8a-48e8-bf4f-67c9eb46d7f9",
          "mode": "list",
          "cachedResultName": "YouTube Backlog",
          "cachedResultUrl": "https://www.notion.so/0a4191a5eb8a48e8bf4f67c9eb46d7f9"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.snippet.title }}"
            },
            {
              "key": "URL|url",
              "urlValue": "=https://www.youtube.com/watch?v={{ $json.id.videoId }}"
            },
            {
              "key": "videoId|rich_text",
              "textContent": "={{ $json.id.videoId }}"
            },
            {
              "key": "Grouping Backlog|relation",
              "relationValue": [
                "= {{ $json.groupDatabaseId }}"
              ]
            },
            {
              "key": "Tags Backlog|relation",
              "relationValue": [
                "= {{ $json.tagDatabaseId }}"
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "0dd85b14-4ba9-4b7b-a6d8-e4a62c363bb7",
      "name": "Notion (Beta)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        740,
        560
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0a4191a5-eb8a-48e8-bf4f-67c9eb46d7f9",
          "mode": "list",
          "cachedResultName": "YouTube Backlog",
          "cachedResultUrl": "https://www.notion.so/0a4191a5eb8a48e8bf4f67c9eb46d7f9"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "id": "36532577-a94c-46c4-a6be-18e1a141a7c3",
      "name": "Get all current YouTube backlog items",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -80,
        -120
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "properties.videoId.rich_text[0].text.content",
              "field2": "id.videoId"
            }
          ]
        },
        "resolve": "preferInput1",
        "fuzzyCompare": true,
        "options": {
          "skipFields": ""
        }
      },
      "id": "80194b68-dce3-4304-b56a-c2680d3223b2",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2,
      "position": [
        520,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{ $json.properties.videoId.rich_text[0].text.content }}"
            }
          ]
        }
      },
      "id": "8a8e5519-47fc-4ad3-aac3-f5d87b23d38f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "errorMessage": "properties.videoId.rich_text[0].text.content did not exist"
      },
      "id": "e5762a96-0303-4311-8ea3-7455dd7b6694",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        380,
        -140
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "snippet.channelId",
              "field2": "channelId"
            }
          ]
        },
        "options": {}
      },
      "id": "cace8a05-af90-4b10-8aee-fc991dc2eeac",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        460,
        560
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {
          "channelId": "={{ $json.channelId }}",
          "publishedAfter": "={{$today.minus({days: 7})}}"
        },
        "options": {}
      },
      "id": "af64a05d-6f18-4222-8bbc-bf9fd96c1843",
      "name": "Get videos for channelIds from the last week",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -300,
        140
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "10",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "bbed0f4e-32e0-4976-acea-b9101a6885b3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.snippet.description }}",
              "operation": "notContains",
              "value2": "#shorts"
            }
          ]
        }
      },
      "id": "511078ca-72ad-417b-81af-72777e6fc7cc",
      "name": "Remove shorts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -80,
        140
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.snippet.title }}",
        "destinationKey": "=snippet.title",
        "options": {}
      },
      "id": "2a76cfca-d4d7-4f57-a9d6-556cb5bad57a",
      "name": "Convert unicode",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        180,
        140
      ]
    },
    {
      "parameters": {},
      "id": "3b4c12e8-5369-43ae-9569-3b0ed6d674ce",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        560
      ]
    },
    {
      "parameters": {},
      "id": "88720475-a37c-4ad2-a27e-b2903f263329",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ]
    },
    {
      "parameters": {
        "events": [
          "activate"
        ]
      },
      "id": "3b038b2e-99fc-4bc1-bf21-7c9f49041768",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        400
      ]
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "limit": 1,
          "channelId": "UC6vRUjYqDuoUsYsku86Lrsw",
          "groupDatabaseId": "24c4e107bbb84ceb86a15d46919a2a06",
          "tagDatabaseId": "f89be03b3e3449a1bd364394a84d147e",
          "name": "Jack Harrington"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCsBjURrPoezykLs9EqgamOA",
          "groupDatabaseId": "24c4e107bbb84ceb86a15d46919a2a06",
          "tagDatabaseId": "297063992c394737923c3764d964e15e",
          "name": "Fireship"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCfPQrqsmYFFRK0NKLEr27Bg",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "56a90b2ed3c742f4bf5ceca09c58ba17",
          "name": "Crypto Critics' Corner"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCnH8al10BzxCg-N-69Syqjg",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "97205a513b144f51885342365cc8d7db",
          "name": "Trap Lore Ross"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCkCGANrihzExmu9QiqZpPlQ",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "4ac3014c6a9e4480956daa69ea714e00",
          "name": "How Money Works"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCZ4AMrDcNrfy3X6nsU8-rPg",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "2fcb4354219a4193b44a651561c0377b",
          "name": "Economics Explained"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UC9RM-iSvTu1uPJb8X5yp3EQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "0aa679ae673443f8940b25dc4754a0a3",
          "name": "Wendover Productions"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCDJZPusVYgqWwP67JnZviRw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "bedb8de9f606407da4d54009070c831f",
          "name": "BTODtv"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCFCEuCsyWP0YkP3CZ3Mr01Q",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "63259ab4f22c4f158ba64e664eed6695",
          "name": "The Plain Bagel"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCYwVxWpjeKFWwu8TML-Te9A",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "fe1ee2e60aed4d3faad6b57e4e278329",
          "name": "JCS - Criminal Psychology"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCjy5wrSZmcFefxex3ljOouA",
          "groupDatabaseId": "2ef2285bc62141d180217b5856d61a03",
          "tagDatabaseId": "b6ee7e0aa26148b199c22d040598299f",
          "name": "Demetri Panici"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCsXVk37bltHxD1rDPwtNM8Q",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "ff6c07108fe4476d816e3186cd071710",
          "name": "Kurzgesagt – In a Nutshell"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCFQMnBA3CS502aghlcr0_aw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "d106a1aea4d2408e883990edad4dc64d",
          "name": "Coffeezilla"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCm9K6rby98W8JigLoZOh6FQ",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "3632b9c08bd04e5f955cbc8613a098eb",
          "name": "LockPickingLawyer"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UClfEht64_NrzHf8Y0slKEjw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "657370a5ac24401db5b62ecfeaeeef7d",
          "name": "AlternateHistoryHub"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UC-tLyAaPbRZiYrOJxAGB7dQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "e317ab750b2c43aeb65da0829ee05375",
          "name": "Pursuit of Wonder"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCp1mRTkVlqDnxz_9S0YD9YQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "40c6e13bd2604c55aa3c5ddbec035088",
          "name": "Philosophies for Life"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCG9ShGbASoiwHwFcLcAh9EA",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "6636a9691bf843f6bbcb6f01617520aa",
          "name": "SEA"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCybBViio_TH_uiFFDJuz5tg",
          "groupDatabaseId": "e728841bbca8452bbd45da6419030018",
          "tagDatabaseId": "de81f6f4fcda4deebc963227aa6e3e68",
          "name": "Einzelgänger"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCimiUgDLbi6P17BdaCZpVbg",
          "groupDatabaseId": "e728841bbca8452bbd45da6419030018",
          "tagDatabaseId": "2f62fa370aaa4e5b9452ab957001beea",
          "name": "exurb1a"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCNIuvl7V8zACPpTmmNIqP2A",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "231c309ab44c403293a80957388efc62",
          "name": "OverSimplified"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCRcgy6GzDeccI7dkbbBna3Q",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "519692b8086040c1baa10c76f54280ba",
          "name": "LEMMiNO"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCd_WBvzBg1UbHE8j8MIL5Ng",
          "groupDatabaseId": "2ef2285bc62141d180217b5856d61a03",
          "tagDatabaseId": "82f9cff4febe459ea35cc967b484e6ab",
          "name": "Thomas Frank Explains"
        }
      }
    ],
    "Execute Workflow Trigger": [
      {
        "json": {
          "limit": 1,
          "channelId": "UC6vRUjYqDuoUsYsku86Lrsw",
          "groupDatabaseId": "24c4e107bbb84ceb86a15d46919a2a06",
          "tagDatabaseId": "f89be03b3e3449a1bd364394a84d147e",
          "name": "Jack Harrington"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCsBjURrPoezykLs9EqgamOA",
          "groupDatabaseId": "24c4e107bbb84ceb86a15d46919a2a06",
          "tagDatabaseId": "297063992c394737923c3764d964e15e",
          "name": "Fireship"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCfPQrqsmYFFRK0NKLEr27Bg",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "56a90b2ed3c742f4bf5ceca09c58ba17",
          "name": "Crypto Critics' Corner"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCnH8al10BzxCg-N-69Syqjg",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "97205a513b144f51885342365cc8d7db",
          "name": "Trap Lore Ross"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCkCGANrihzExmu9QiqZpPlQ",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "4ac3014c6a9e4480956daa69ea714e00",
          "name": "How Money Works"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCZ4AMrDcNrfy3X6nsU8-rPg",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "2fcb4354219a4193b44a651561c0377b",
          "name": "Economics Explained"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UC9RM-iSvTu1uPJb8X5yp3EQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "0aa679ae673443f8940b25dc4754a0a3",
          "name": "Wendover Productions"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCDJZPusVYgqWwP67JnZviRw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "bedb8de9f606407da4d54009070c831f",
          "name": "BTODtv"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCFCEuCsyWP0YkP3CZ3Mr01Q",
          "groupDatabaseId": "7a4eb266762b492098f3d17e8e3c9116",
          "tagDatabaseId": "63259ab4f22c4f158ba64e664eed6695",
          "name": "The Plain Bagel"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCYwVxWpjeKFWwu8TML-Te9A",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "fe1ee2e60aed4d3faad6b57e4e278329",
          "name": "JCS - Criminal Psychology"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCjy5wrSZmcFefxex3ljOouA",
          "groupDatabaseId": "2ef2285bc62141d180217b5856d61a03",
          "tagDatabaseId": "b6ee7e0aa26148b199c22d040598299f",
          "name": "Demetri Panici"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCsXVk37bltHxD1rDPwtNM8Q",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "ff6c07108fe4476d816e3186cd071710",
          "name": "Kurzgesagt – In a Nutshell"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCFQMnBA3CS502aghlcr0_aw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "d106a1aea4d2408e883990edad4dc64d",
          "name": "Coffeezilla"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCm9K6rby98W8JigLoZOh6FQ",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "3632b9c08bd04e5f955cbc8613a098eb",
          "name": "LockPickingLawyer"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UClfEht64_NrzHf8Y0slKEjw",
          "groupDatabaseId": "66a7db1665064e09a3ebf7c632ff495c",
          "tagDatabaseId": "657370a5ac24401db5b62ecfeaeeef7d",
          "name": "AlternateHistoryHub"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UC-tLyAaPbRZiYrOJxAGB7dQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "e317ab750b2c43aeb65da0829ee05375",
          "name": "Pursuit of Wonder"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCp1mRTkVlqDnxz_9S0YD9YQ",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "40c6e13bd2604c55aa3c5ddbec035088",
          "name": "Philosophies for Life"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCG9ShGbASoiwHwFcLcAh9EA",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "6636a9691bf843f6bbcb6f01617520aa",
          "name": "SEA"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCybBViio_TH_uiFFDJuz5tg",
          "groupDatabaseId": "e728841bbca8452bbd45da6419030018",
          "tagDatabaseId": "de81f6f4fcda4deebc963227aa6e3e68",
          "name": "Einzelgänger"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCimiUgDLbi6P17BdaCZpVbg",
          "groupDatabaseId": "e728841bbca8452bbd45da6419030018",
          "tagDatabaseId": "2f62fa370aaa4e5b9452ab957001beea",
          "name": "exurb1a"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCNIuvl7V8zACPpTmmNIqP2A",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "231c309ab44c403293a80957388efc62",
          "name": "OverSimplified"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCRcgy6GzDeccI7dkbbBna3Q",
          "groupDatabaseId": "50c83fc4692f4bfba31bdc2d3d5a00fb",
          "tagDatabaseId": "519692b8086040c1baa10c76f54280ba",
          "name": "LEMMiNO"
        }
      },
      {
        "json": {
          "limit": 1,
          "channelId": "UCd_WBvzBg1UbHE8j8MIL5Ng",
          "groupDatabaseId": "2ef2285bc62141d180217b5856d61a03",
          "tagDatabaseId": "82f9cff4febe459ea35cc967b484e6ab",
          "name": "Thomas Frank Explains"
        }
      }
    ]
  },
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-15T18:54:49.214Z",
      "updatedAt": "2023-04-15T18:54:49.214Z",
      "id": "6",
      "name": "YouTube"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-04-18T01:48:13.000Z",
  "versionId": "d54bfa2b-1c9a-436b-be42-ca78d828dd6b"
}