workflows/Seed Supabase Events from Notion Events Backlog  📅 🪣.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Event Backlog items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Backlog items": {
      "main": [
        [
          {
            "node": "Notion (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (Beta)": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-30T15:18:33.936Z",
  "id": "26",
  "name": "Seed Supabase Events from Notion Events Backlog  📅 🪣",
  "nodes": [
    {
      "parameters": {},
      "id": "7efd99da-6f83-4fd1-b16b-84032eb659f4",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        140,
        500
      ]
    },
    {
      "parameters": {
        "tableId": "Event Backlog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "page_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "property_edited",
              "fieldValue": "={{ $json.property_edited }}"
            },
            {
              "fieldId": "property_priority",
              "fieldValue": "={{ $json.property_priority }}"
            },
            {
              "fieldId": "property_days_only_if_set_to_1_day_s",
              "fieldValue": "={{ $json.property_days_only_if_set_to_1_day_s }}"
            },
            {
              "fieldId": "property_created",
              "fieldValue": "={{ $json.property_created }}"
            },
            {
              "fieldId": "property_state",
              "fieldValue": "={{ $json.property_state }}"
            },
            {
              "fieldId": "property_last_day_base_date",
              "fieldValue": "={{ $json.property_last_day_base_date }}"
            },
            {
              "fieldId": "property_created_by",
              "fieldValue": "={{ $json.property_created_by }}"
            },
            {
              "fieldId": "property_due_timestamp",
              "fieldValue": "={{ $json.property_due_timestamp }}"
            },
            {
              "fieldId": "property_first_weekday_base_date",
              "fieldValue": "={{ $json.property_first_weekday_base_date }}"
            },
            {
              "fieldId": "property_simplified_recur_unit",
              "fieldValue": "={{ $json.property_simplified_recur_unit }}"
            },
            {
              "fieldId": "property_next_due",
              "fieldValue": "={{ $json.property_next_due }}"
            },
            {
              "fieldId": "property_done",
              "fieldValue": "={{ $json.property_done }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.property_type }}"
            },
            {
              "fieldId": "property_due_date",
              "fieldValue": "={{ $json.property_due_date }}"
            },
            {
              "fieldId": "property_synced",
              "fieldValue": "={{ $json.property_synced_to_calendar }}"
            },
            {
              "fieldId": "property_recur_interval",
              "fieldValue": "={{ $json.property_recur_interval }}"
            },
            {
              "fieldId": "property_utc_offset",
              "fieldValue": "={{ $json.property_utc_offset }}"
            },
            {
              "fieldId": "property_recur_unit",
              "fieldValue": "={{ $json.property_recur_unit }}"
            },
            {
              "fieldId": "property_last_weekday_base_date",
              "fieldValue": "={{ $json.property_last_weekday_base_date }}"
            },
            {
              "fieldId": "property_next_last_base_date",
              "fieldValue": "={{ $json.property_next_last_base_date }}"
            },
            {
              "fieldId": "property_task",
              "fieldValue": "={{ $json.property_task }}"
            }
          ]
        }
      },
      "id": "83d95b2a-1936-48c2-af25-c34edee22533",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "id": "e3f6026a-5ed0-489d-8ef5-ddad2cd0834b",
      "name": "Get Event Backlog items",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        400,
        500
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        }
      },
      "id": "698bf518-dd73-4bfe-8b12-709056a6b7c2",
      "name": "Notion (Beta)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        640,
        500
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T15:35:19.638Z",
      "updatedAt": "2023-04-09T15:35:19.638Z",
      "id": "3",
      "name": "Supabase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-30T15:22:47.000Z",
  "versionId": "593a9776-b67f-4dc0-9cdf-d5a81a2bfed3"
}