workflows/Sync tasks automatically between Notion Events to Calendar  📅.json
{
  "active": true,
  "connections": {
    "If date exists": {
      "main": [
        [
          {
            "node": "Create all-day event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Events Not Yet Synced": {
      "main": [
        [
          {
            "node": "If date exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create all-day event": {
      "main": [
        [
          {
            "node": "Set Event to Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Notion Events Not Yet Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger (Beta)": {
      "main": [
        [
          {
            "node": "Create all-day event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger (Beta)1": {
      "main": [
        [
          {
            "node": "Create all-day event2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send error email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-06T03:21:31.985Z",
  "id": "3",
  "name": "Sync tasks automatically between Notion Events to Calendar  📅",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.property_due_date.start }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e4c60fc-a519-4abb-ad51-1e12963fd56a",
      "name": "If date exists",
      "type": "n8n-nodes-base.if",
      "position": [
        860,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hemingway72129@gmail.com",
          "mode": "list",
          "cachedResultName": "hemingway72129@gmail.com"
        },
        "start": "={{ $json.property_due_date.start }}",
        "end": "={{ $json.property_due_date.start }}",
        "additionalFields": {
          "allday": "yes",
          "description": "=",
          "location": "",
          "summary": "={{ $json.name }}"
        }
      },
      "id": "629faeeb-5bd4-43fd-a78a-ad7478016b1d",
      "name": "Create all-day event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1140,
        120
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        },
        "limit": 100,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Synced to Calendar|checkbox",
              "condition": "equals"
            },
            {
              "key": "Done|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "b383c614-46a7-4ef8-8faa-64cf41b6442d",
      "name": "Notion Events Not Yet Synced",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        620,
        240
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $node[\"If date exists\"].json.id }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Synced to Calendar|checkbox",
              "checkboxValue": true
            }
          ]
        }
      },
      "id": "4b87208b-16a8-4ea7-8d31-86f9b9c772c9",
      "name": "Set Event to Synced",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1480,
        140
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c8d260f6-c3c4-43c2-a7e8-ad3dc1ff5f05",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        }
      },
      "id": "bcb77a90-e28c-4fa6-9a5a-b3bd86e62dd7",
      "name": "Notion Trigger (Beta)",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        360,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hemingway72129@gmail.com",
          "mode": "list",
          "cachedResultName": "hemingway72129@gmail.com"
        },
        "start": "={{ $json[\"Due Date\"].start }}",
        "end": "={{ $json[\"Due Date\"].start }}",
        "additionalFields": {
          "allday": "yes",
          "description": "=",
          "location": "",
          "summary": "={{ $json.Task }}"
        }
      },
      "id": "ae2f186d-8db7-4fba-b348-26f02490633c",
      "name": "Create all-day event1",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        640,
        520
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "13a86ee2-fa70-4a82-b7a0-f019b3b0c67d",
          "mode": "list",
          "cachedResultName": "Event Backlog",
          "cachedResultUrl": "https://www.notion.so/13a86ee2fa704a82b7a0f019b3b0c67d"
        }
      },
      "id": "783c594b-7530-4c57-a936-8ef8002c1b51",
      "name": "Notion Trigger (Beta)1",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        360,
        780
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hemingway72129@gmail.com",
          "mode": "list",
          "cachedResultName": "hemingway72129@gmail.com"
        },
        "start": "={{ $json[\"Due Date\"].start }}",
        "end": "={{ $json[\"Due Date\"].start }}",
        "additionalFields": {
          "allday": "yes",
          "description": "=",
          "location": "",
          "summary": "={{ $json.Task }}"
        }
      },
      "id": "7705cc89-c985-47ca-89c7-05520b47c31d",
      "name": "Create all-day event2",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        640,
        780
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        360,
        20
      ],
      "typeVersion": 1,
      "id": "39272cee-c55c-4ed0-a1e2-e3d8fc314c51"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=n8n Workflow Failure:  {{$json[\"workflow\"][\"name\"]}}",
        "message": "=Workflow: {{$json[\"workflow\"][\"name\"]}}",
        "toList": [
          "n8n.prong493@silomails.com"
        ],
        "additionalFields": {}
      },
      "name": "Send error email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        620,
        20
      ],
      "typeVersion": 1,
      "id": "aa14e535-b2b6-4fc1-86da-cdd19eb4a2b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Notion Trigger (Beta)": {
      "lastTimeChecked": "2023-04-23T14:18:00.000Z",
      "possibleDuplicates": [
        "5ca3e241-0d8c-4008-8ec5-1aa3257e75cb"
      ]
    },
    "node:Notion Trigger (Beta)1": {
      "lastTimeChecked": "2023-04-23T14:18:00.000Z"
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-09T15:35:16.927Z",
      "updatedAt": "2023-04-09T15:35:16.927Z",
      "id": "2",
      "name": "Notion"
    },
    {
      "createdAt": "2023-04-09T16:17:15.682Z",
      "updatedAt": "2023-04-09T16:17:15.682Z",
      "id": "4",
      "name": "Calendar"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-04-23T14:18:06.000Z",
  "versionId": "0588b958-cc5c-4621-a52c-508bc2ec4d67"
}